<section class="container">
  {{#each puppies}}
  <article class="puppy-list">
    <a href="/puppies/{{id}}"><img class="img-circle" src="{{image}}" alt="{{name}}"></a>
  </article>
  {{/each}}
</section>
